@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.icon {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;
}

.btn--sm {
    padding: 0.775rem 1rem;
}

.btn--md {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
}

.btn--lg {}

.btn {}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4357;
    //background-color:  #EC4E74;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1.175rem;
    line-height: 1.625rem;
    z-index: 1;
    transition: all 0.3s ease;
    box-shadow:
        inset 0px 0px 5px #ffffffa9,
        0px 4px 8px rgba(255, 67, 87, 0.2); // rosa claro

    width: var(--btn-width, auto);

    &:hover {
        transform: translateY(-2px);
        box-shadow:
            inset 0px 0px 5px #ffffffa9,
            0 0 15px rgba(230, 71, 133, 0.4), // rosa destaque
            0 0 30px rgba(230, 71, 133, 0.2); // rosa suave
    }

    &:active {
        transform: translateY(2px) scale(0.98);
        box-shadow:
            inset 0px 0px 5px #ffffffa9;
    }

    // Responsividade
    @media (max-width: 480px) {
        width: var(--btn-width-xs, 100%) !important; // Força 100% no mobile
        font-size: 1rem;
        padding: 0.75rem 1rem;
        min-width: unset;
        max-width: 100vw;
    }

    @media (min-width: 481px) and (max-width: 768px) {
        width: var(--btn-width-sm, var(--btn-width, auto));
        font-size: 1.075rem;
        padding: 0.85rem 1.5rem;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        width: var(--btn-width-md, var(--btn-width, auto));
        font-size: 1.075rem;
        padding: 1rem 2rem;
    }

    @media (min-width: 1025px) {
        width: var(--btn-width-lg, var(--btn-width, auto));
    }
}


.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4357;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.975rem;
    line-height: 1.475rem;
    z-index: 1;
    transition: all 0.3s ease;
    box-shadow:
        inset 0px 0px 5px #ffffffa9,
        0px 4px 8px rgba(255, 67, 87, 0.2); // rosa claro
    width: var(--btn-width, auto);

    &:hover {
        transform: translateY(-2px);
        box-shadow:
            inset 0px 0px 5px #ffffffa9,
            0 0 15px rgba(230, 71, 133, 0.4), // rosa destaque
            0 0 30px rgba(230, 71, 133, 0.2); // rosa suave
    }

    &:active {
        transform: translateY(2px) scale(0.98);
        box-shadow:
            inset 0px 0px 5px #ffffffa9;
    }

    // Responsividade
    @media (max-width: 480px) {
        width: var(--btn-width-xs, 100%) !important; // Força 100% no mobile
        font-size: 1rem;
        padding: 0.75rem 1rem;
        min-width: unset;
        max-width: 100vw;
    }

    @media (min-width: 481px) and (max-width: 768px) {
        width: var(--btn-width-sm, var(--btn-width, auto));
        font-size: 1.075rem;
        padding: 0.85rem 1.5rem;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        width: var(--btn-width-md, var(--btn-width, auto));
        font-size: 1.075rem;
        padding: 1rem 2rem;
    }

    @media (min-width: 1025px) {
        width: var(--btn-width-lg, var(--btn-width, auto));
    }
}