@import "tailwindcss";

@font-face {
  font-family: "Helvetica Now Text";
  src: url("./styles/fonts/HelveticaNowText-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("./styles/fonts/HelveticaNowText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("./styles/fonts/HelveticaNowText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("./styles/fonts/HelveticaNowText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --primary: #02a657;
  --primary-hover: #02924d;
  --text-muted: #9ca3af;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family:
    "Helvetica Now Text",
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset básico */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}
